.container{
    width: 90%;
    padding: 20px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: center ;
}

.container-grid{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

.box{
    background:white;
    padding: 2px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}