*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 150px;
    background-color:white;
    color: rgb(254, 39, 111);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
    border-radius: 3rem;
    padding: 10px;
    background-color:white ;
}

.btn{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.themes{
    font-size: 3rem;
    margin-left: 5px;
}

.theme{
    font-size: 4rem;
    margin-left: 5px;
}

.add-icon{
    display: flex;
    align-items: center;
    font-size: 5rem;
}

.add-icon-themes{
    display: flex;
    align-items: center;
    font-size: 2.75rem;
}

.navbar2{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

